$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

// @include media(">phone", "<tablet") {
// }
//
// @include media(">tablet", "<950px") {
// }
//
// @include media(">=phone", "<tablet") {
//
// }
//
// @include media(">=tablet", "<=950px") {
//
// }
//
// https://css-tricks.com/approaches-media-queries-sass/
