@import "../../global_styles/variables";

.GridItem {
  &.isMiddle {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .GridItem{
    &.isMiddle {
      border: none;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}

@media (min-width: $desktop-width) {
  .GridItem{
    &.isMiddle {
      border: none;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}
