@import '../../global_styles/_variables.scss';

.About {
    color: white;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
width: 100%;
    svg {
        width: 200px;
    }
}

.copy-wrapper {
    width: 66vw;
}

@media (min-width: $mobile-width) {
  .About {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .copy-wrapper {
    width: 33vw;
}
}
