.Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 400vh;
  display: flex;
  flex-direction: column;
  .Screen {
    position: relative;
    height: 100%;
  }

  .Screen.splash {
      .hero-svg {
        width: 550px;
      }

      @media (min-width: 600px) {
        .hero-svg {
          width: 550px;
        }
      }

      @media (min-width: 1200px) {
        .hero-svg {
          width: 650px;
        }
      }
    }
}
