@import '../../global_styles/_variables.scss';

.Services {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-row {
    display: flex;
    justify-content: space-between;
    width: 66vw;
}

.services-svg {
    width: 100%;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.services-inner-wrapper {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
}

.services-headings-svg {
    height: 5vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

@media (min-width: $mobile-width) {
    .Services {}

    .services-wrapper {
        width: 66vw;
    }

    .services-inner-wrapper {
        flex-direction: row;

        align-items: flex-start;

    }

    .services-row {
        width: 100vw;
    }

    .services-svg {
        width: 33vw;
    }

    .card {
        width: auto;
        min-width: 300px;
    }

}

.services-letter {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    // animation: services-draw 3s ease-in-out forwards;
  }

  #second.scrolled {
    .services-letter {
      animation: services-draw 3s ease-in-out forwards;
    }
  }

  .services-letter:nth-of-type(1) {
    animation-delay: 0;
  }

  .services-letter:nth-of-type(2) {
    animation-delay: 0.5s;
  }

  .services-letter:nth-of-type(3) {
    animation-delay: 1s;
  }

  .services-letter:nth-of-type(4) {
    animation-delay: 1.5s;
  }

  .services-letter:nth-of-type(5) {
    animation-delay: 2s;
  }

  .services-letter:nth-of-type(6) {
    animation-delay: 2.5s;
  }

  @keyframes services-draw {
  0% {
  stroke-dashoffset: 1000;
  }
  100% {
  stroke-dashoffset: 0;
  }
}